<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967566300842-inubt7fk78h5bjl6e70ekgke7a9n89ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967566300842-inubt7fk78h5bjl6e70ekgke7a9n89ke</string>
	<key>API_KEY</key>
	<string>AIzaSyCO4TQN5P8Ng7Hd0mcha_WcecUDrceyxkY</string>
	<key>GCM_SENDER_ID</key>
	<string>967566300842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coolheart.Todo</string>
	<key>PROJECT_ID</key>
	<string>todo-ios-dca9c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-ios-dca9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967566300842:ios:9f1802a6bd4758998ca2d3</string>
</dict>
</plist>